.Navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(95, 6, 6);
  height: 100px;

  .logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    background-image: url(J.png);
    background-size: cover;    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 18px;
  }

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 3em;
    color: white;
    height: fit-content;
  }

  h2 {
    margin-inline-end: 50px;
    color: white;
  }
}


@media (max-width: 467px) {
  .Navbar-logo h1{
    font-size: 2em;
  }
  .Navbar-logo .logo{
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 354px) {
  .Navbar-logo h1{
    font-size: 2em;
  }
  .Navbar-logo h2 {
    margin-inline-end: 10px;
  }
}

@media (max-width: 311px) {
  .Navbar-logo h1{
    font-size: 1.5em;
  }
  .Navbar-logo h2 {
    font-size: 1.5em;
    margin-inline-end: 10px;
  }
  .Navbar-logo .logo{
    height: 40px;
    width: 40px;
  }
}